*{
	list-style:none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: tahoma, verdana, sans-serif;
	padding:0;
	margin:0;
}
#menu-lateral {
	width: 250px;
	height: 100%;
	background-color: rgb(5,68,104);
	top: 0;
	left:0;
	padding: 20px 0;
	position: fixed;

}
#menu-lateral #profile{
	text-align: center;
	margin-bottom: 20px;
}
#menu-lateral #profile .photo_profile{
	width: 150px;
	height: 150px;
	display: block;
	border-radius: 50%;
	border: 10px solid rgb(32,44,69);
	margin: 0 auto;
}
#menu-lateral #profile h3{
	color: #FFF;
	text-transform: uppercase;
}
#menu-lateral #profile p{
	color: whitesmoke;
	font-size: 15px;
	/*margin-top: -15px;*/

}
/*style du menu de navigation du menu latéral*/
#menu-lateral ul li a{
	display: block;
	color: #FFF;
	padding: 13px 30px;
	position: relative;
	font-size: 16px;
	border-bottom: 1px solid #10558D;
	/*margin-left: -35px;*/
}
#menu-lateral ul li a:hover {
	color: darkblue;
	background-color: #FFF;
	font-size: 18px;
}
#menu-lateral ul li .active{color: darkblue !important;
background-color: #FFF;
font-size: 18px;}
/*design du bloc section*/
.section{
	width: calc(100% - 250px);
	margin-left:250px;
}
.section .topBar{
	height: 55px;
	background-color: rgb(32, 44, 69);
padding: 0 30px;
align-items: center;
}
.section .topBar .menu a h2 {
	color: #FFF;
	font-size:2em;
	padding-top: 5px;

}
.section .topBar .menu a h2:hover {
	color: lightblue;
}
/*design de banniere*/
.section .banner{
	height:220px;
	background-color:rgb(7 , 105, 185);
	align-items:center;
	padding: 0 30px;
	color:#FFF;

}
.section .banner .titre {
	font-size:1.5em;
	text-align:center;
	padding-top: 50px; 
}
.section .banner .trait{
	border:5px solid lightyellow;
	width:50%;
	margin:10px auto;
}
.section .banner .btn{
	margin:5px auto;
	width:20%;
}
.section .banner button{
	height: 6vh;
	color:rgb(42, 75, 124);
	font-size:1.5em;
}
.section .banner button:hover{
	background-color:rgb(42 , 75, 124);
	color:#FFF;
}
/*design de la section des articles */
.section .article {
	height: 200px;
	padding:0 30px;
	align-items: center;
	margin-top: 60px;
	display:flex;
}
.section .article img{
	width:100%;
}
	.section .contenu{
		margin-left:15px;
		font-size: 1.2em;
	}
	.section .bal{
		background-color: rgb(7,105,185);
		font-size: 1.9em;
		align-items: center;
		margin-top:  40px ; 
		text-align: center;
		/*margin-bottom: 40px;*/

	}
	.section .pied{
		font-size: 1.3em;
		margin-top: 40px;
		bottom:0;
		background-color: blue;
		text-align: center;
		color: #FFF; 
	}
	.section .pied footer:hover{
		color:#000;
	}
	.section .bal button:hover{
		background-color: rgb(7,105,185);
		color:#FFF; 
	}
	













































































































































































































































}